body{
    background-image: url('https://images.newscientist.com/wp-content/uploads/2018/10/30161554/ps15_16x20.jpg')
}

.text-hello{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 20px;
}

.form input[type=text]{
    min-width: 350px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    padding: 5px;
}

.form input[type=submit]{
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
