{% load static %}

<html>
    <head>
        <title>New Page</title>
        <link rel="stylesheet" href= "{% static 'style.css' %}">
    </head>
    <body>

        <div class="text-hello">
            <h1>Hello, Apa kabar?</h1>
        </div>
        <div class="form">
            <form action="{% url 'status:status'  %}" method="POST">
            {% csrf_token %}
            {{ form }}
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>